services:
  api-gateway:
    build: ./api-gateway
    ports:
      - "8080:8080"
    environment:
      - QUOTES_URL=http://quotes-service:8080/quotes
    depends_on:
      - quotes-service
    networks:
      - app-network

  quotes-service:
    build: ./quotes-service
    ports:
      - "8081:8080"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
